<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--日志配置 -->
    <property name="LOG_BACK_DIR" value="logs"/>

    <!-- logback 工程的日志配置 -->
    <appender name="INFO_ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BACK_DIR}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- rollover daily -->
            <fileNamePattern>${LOG_BACK_DIR}/info_%d{yyyyMMddHH}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>256MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>48</maxHistory>
             <!-- 保存最大文件数 2天的日志 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd
                HH:mm:ss.SSS}|%X{threadId}|%X{traceId}-%X{rpcId}|%level|%C|%M|%L|%.-512msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><!-- 只打印错误日志 -->
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ERROR_ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BACK_DIR}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- rollover daily -->
            <fileNamePattern>${LOG_BACK_DIR}/error_%d{yyyyMMdd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>256MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <!-- 保存最大文件数 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd
                HH:mm:ss.SSS}|%X{threadId}|%X{traceId}-%X{rpcId}|%level|%C|%M|%L|%.-512msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="DEBUG_ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BACK_DIR}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- rollover daily -->
            <fileNamePattern>${LOG_BACK_DIR}/debug_%d{yyyyMMddHH}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>256MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>48</maxHistory>
            <!-- 保存最大文件数 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd
                HH:mm:ss.SSS}|%X{threadId}|%X{traceId}-%X{rpcId}|%level|%C|%M|%L|%.-512msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><!-- 只打印错误日志 -->
            <level>TRACE</level>
        </filter>
    </appender>
    <!-- logback 工程的日志配置 END -->
     
    <!-- 开发环境使用 打印在控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <param name="Pattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{threadId}|%X{traceId}-%X{rpcId}|%level|%C|%M|%L|%.-512msg%n"/>
        </layout>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <!--<logger name="java.sql.Connection" level="INFO"/>-->
    <!--<logger name="java.sql.ResultSet" level="INFO"/>-->
    <!--<logger name="org.apache.zookeeper.ClientCnxn" level="WARN"/>-->
    <!--<logger name="org.mybatis.spring.SqlSessionUtils" level="WARN"/>-->
    <!--开发环境为DEBUG等级 -->
     
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DEBUG_ROLLING"/>
        <appender-ref ref="INFO_ROLLING"/>
        <appender-ref ref="ERROR_ROLLING"/>
    </root>

</configuration>